APScheduler==3.6.3
async-generator==1.10
asyncio==3.4.3
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
configparser==5.1.0
crayons==0.4.0
cryptography==36.0.0
Flask==1.1.2
future==0.18.2
h11==0.12.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jsonpickle==2.0.0
loguru==0.5.3
MarkupSafe==1.1.1
outcome==1.1.0
pycparser==2.21
pyOpenSSL==21.0.0
python-dotenv==0.17.0
python-telegram-bot==13.4.1
pytz==2021.1
requests==2.25.1
selenium==4.1.0
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
tornado==6.1
trio==0.19.0
trio-websocket==0.9.2
tzlocal==2.1
urllib3==1.26.4
viberbot==1.0.12
webdriver-manager==3.5.2
Werkzeug==1.0.1
wsproto==1.0.0
